.post-title {
  line-height: 2.5rem;
}

.post-meta {
  margin: 1rem 0px;

  .p-author {
    font-size: 1.1rem;
    margin: 0px;
  }

  .post-icons {
    width: 75px;
    height: 75px;
    border: 0px;
  }
}
