$facebook_color: #3578E5;
$github_color: #000;
$google_color: #DC4D44;
$linkedin_color: #096DA9;

$breakpoint-small: 576px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
$breakpoint-extra-large: 1200px;
