---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "variables";
@import "bootstrap/scss/bootstrap";
@import "minima";

.side-content-panel {
    height: 100vh;
    min-height: 300px;
    top: 0;
    position: sticky;
}

nav.header {
    border-top: 5px solid #424242;
    border-bottom: 1px solid #e8e8e8;
    min-height: 55.95px;
}

a.post-link {
    color: black;
    text-decoration: none;
    position: relative;
}

a.post-link:hover {
    opacity: 0.7;
}

a.post-link:visited {
    color: black;
}

.post-content {
    > h3 {
        margin-top: 3rem;
    }
}
