<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html -%}

<body>

    {%- include header.html -%}

    <main class="row py-3 mx-0" aria-label="Content">
        <div class="d-none d-lg-block col-lg-3">
            <div class="d-flex justify-content-center align-items-center side-content-panel">
                <!-- TODO -->
            </div>
        </div>
        <div class="col-12 col-lg-6 bg-light shadow rounded">
            <div class="p-3">
                {{ content }}
            </div>
            {% if page.fbcomment %}
                <hr/>
                <div class="fb-comments d-flex justify-content-center" data-width="" data-numposts="5"></div>
            {% endif %}
        </div>
        <div class="d-none d-lg-block col-lg-3">
            <div class="d-flex justify-content-center align-items-center side-content-panel">
                <!-- TODO -->
            </div>
        </div>
    </main>

    {%- include footer.html -%}

    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&autoLogAppEvents=1&version=v4.0&appId=433542120706345"></script>

    <script src="{{'/assets/vendor/jquery.min.js'}}"></script>
    <script src="{{'/assets/vendor/bootstrap.min.js'}}"></script>
</body>

</html>
